/* ------- tags ---------------------------------------------------------------------------------------------*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: rgb(105, 105, 255);
}
li{
    margin-bottom: 5px;
}

/* --- id's and classes -------------------------------------------------------------------------------------*/

.space{
    color: white;
}

.box {
    width: 400px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
}

